:root {
  --bg-main: #f4f5f7;
  --bg-success: #34b1aa;
  --white: #ffffff;
  --light: #f0eff3;
  --black: #000000;
  --dark-blue: #1f2029;
  --dark-light: #353746;
  --red: #da2c4d;
  --yellow: #f8ab37;
  --grey: #ecedf3;
}

* {
  margin: 0;
  padding: 0;
}

/* For mobile phones: */
.content-wrapper {
  padding: 10px;
  position: relative;
  width: 100vw;
  height: 100vh;
  background: var(--bg-main);
  overflow: hidden;
}

.soal-wrapper {
  justify-content: center;
}

.card-soal {
  width: 100%;
  height: 100%;
}

.soal-canvas {
  height: 70vh;
  overflow: auto;
}

.soal-text {
  text-align: justify;
}

/* .soal-answer {
  padding: 0 10px;
} */

/* border: 5px solid red; */
[type="radio"]:checked,
[type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
  width: 0;
  height: 0;
  visibility: hidden;
}

.cbt-abc-box + label {
  position: relative;
  /* display: inline-block; */
  padding: 10px;
  width: 100%;
  font-size: 14px;
  margin-bottom: 15px;
  border-radius: 4px;
  cursor: pointer;
  transition: all 300ms linear;
}

.cbt-abc-box:not(:checked) + label {
  background-color: var(--light);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  color: var(--black);
}

.cbt-abc-box:checked + label {
  background-color: var(--bg-success);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  color: var(--light);
}

.cbt-abc-box:not(:checked) + label:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.cbt-abc-box + label span.cbt-abc-index {
  margin-right: 5px;
}

.number-wrapper {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 8%;
  transition: 0.5s;
}

.number-wrapper.open {
  height: 97%;
}

.number-toggler {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  background: rgb(8, 149, 142);
  z-index: 9999;
  left: 50%;
  top: 0;
  transform: translate(-50%, -50%);
  text-align: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.number-toggler:hover {
  transform: translate(-50%, -50%) scale(1.2);
}
.number-toggler:active {
  transform: translate(-50%, -50%) scale(0.95);
}

.number-toggler .mdi {
  color: aliceblue;
  font-size: 2em;
  line-height: 40px;
}

.number-wrapper.open .number-toggler {
  transform: translate(-50%, -50%) rotateX(180deg);
}
.number-wrapper.open .number-toggler:hover {
  transform: translate(-50%, -50%) scale(1.2) rotateX(180deg);
}
.number-wrapper.open .number-toggler:active {
  transform: translate(-50%, -50%) scale(0.95) rotateX(180deg);
}

.number-card {
  height: 100%;
  border-radius: 0;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.number-card .card-body {
  overflow: auto;
}

.number-view {
  padding: 10px 0;
  margin: 0 auto;
  max-width: 500px;
}

.number-serve {
  width: 50px;
  height: 50px;
  margin: 5px;
  text-align: center;
  line-height: 45px;
  cursor: pointer;
  border-radius: 10px;
  font-size: 1.5em;
  border: 2px solid var(--bg-success);
  transition: all 300ms linear;
}

.number-serve.active {
  background: var(--bg-success);
  color: var(--light);
  border: none;
}

.number-serve:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.waktu {
  position: fixed;
  top: 0;
  z-index: 9998;
  left: 50%;
  transform: translate(-50%, 0);
  display: inline;
  background-color: var(--white);
  padding: 5px 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.2);
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .card-soal {
    width: 600px;
  }

  .soal-canvas {
    height: 40vh;
  }

  .number-wrapper,
  .number-wrapper.open {
    top: auto;
    bottom: 0;
    height: 40vh;
  }

  .number-toggler {
    display: none;
  }
}
